h1{
color:red;
text-align: center;
	
}
input.add-button {
	background: red;
	color:white;
	padding: 10px 12px;
	border-radius: 5px;
}
a.upDate{
	padding: 10px 12px;
	background: blue;
	border-radius: 5px;
	color:white;
}
.del {
	padding: 10px 12px;
	background: red;
	border-radius: 5px;
	color:white;
}
a.upDate:hover {
	color:red;
}
.del:hover {
	color: black;
	
}




